* {
box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  padding: 0 auto;
  margin: 0 auto;
  width: auto;
}


/* "Modern Luxury Travel" */
header {
  padding: 2rem;
}


/* Should control the sections for all cities */

.preview-baku {
  background-image: url("../images/baku.jpg");
  height: 25rem;

  float: left;
  width: 25%;
  padding: 10px;
  margin: 0;
  border: 0;

}

.preview-london {
  background-image: url("../images/london.png");
  height: 25rem;

  float: left;
  width: 25%;
  padding: 10px;
  margin: 0;
  border: 0;
}

.preview-madrid {
  background-image: url("../images/madrid.jpg");
  height: 25rem;

  float: left;
  width: 25%;
  padding: 10px;
  margin: 0;
  border: 0;
}

.preview-rome {
  background-image: url("../images/rome.jpg");
  height: 25rem;

  float: left;
  width: 25%;
  padding: 10px;
  margin: 0;
  border: 0;
}


/* Edit text/style for "Modern Luxury Travel" here */
h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
}

/* Edit text/styling for cities here */
h2 {
  font-size: 2em;
  text-align: left;
  float: left;
  position: absolute;
}


/* Media Queries */

@media screen and (min-width: 575px) {
  .div {
    display: inline-block;
    float: center;
    margin: 1%;
    width: 45%;
    padding-bottom: 0.1rem;
  }
}



@media screen and (min-width: 1199px) {
  .div {
    display: inline-block;
    float: center;
    margin: 1%;
    width: 20%;
  }
}
