* {
box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
}

header {
  padding: 2rem;
}


.preview {
  float: left;
  width: 25%;
}

.inner-wrapper {
  height: 250px;
  margin: 1%;
}

img {
  height: 100%;

}

/* Edit text/style for "Modern Luxury Travel" here */
h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
}

/* Edit text/styling for cities here */
h2 {
  font-size: 2em;
  text-align: left;
  float: left;
  position: absolute;
}


/* Media Queries */

/* Mobile */
@media screen and (min-width: 375px) {
  .preview {
    float: left;
    width: 100%;
  }
  img {
    width: 100%;
  
  }
}

/* Tablet */
@media screen and (min-width: 575px) {
  .preview {
    float: left;
    width: 50%;
  }


}

/* Desktop */
@media screen and (min-width: 1199px) {
  .preview {
    float: left;
    width: 25%;
  }
}
