
/* Universal selector */
* {
box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

/* I am not sure if I set the container up right...*/
.container {
  padding: 0 auto;
  margin: 0 auto;
  width: 100%;
}

/* Controls "Modern Luxury Travel" */
header {
  padding: 2rem;
}

/* Should control the sizing/sections for all cities */
div {
  display: inline-block;
  width:100%;
  padding-bottom: 1rem;
}

/* .responsive makes images not spill out of container? I initially tried
the code block on lines 41-44 `.baku { }` that I've commented out below to crop/adjust
the height and width for the images, but it did not seem to make a
difference and couldn't figure out why :(  */
.responsive {
  width: 100%;
  height: auto;
}

/* Tried doing this for .baku, .london, .madrid, .rome to crop the
images so they'd be all the same size, but did not have an effect? */
/*
.baku {
  background-image: url("../images/baku.jpg");
  height: 30rem;
  width: 25rem;
}
*/

/* Edit text/style for "Modern Luxury Travel" here */
h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
}

/* Edit text/styling for cities here */
h2 {
  font-size: 2em;
  text-align: left;
  float: left;
  position: absolute;
}


/* Media Queries */
@media screen and (min-width: 575px) {
  .container {
    padding: 2rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 575px) {
  .preview {
    display: inline-block;
    float: center;
    margin: 1%;
    width: 45%;
    padding-bottom: 0.1rem;
  }
}

@media screen and (min-width: 1199px) {
  .container {
    padding: 2rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1199px) {
  .preview {
    display: inline-block;
    float: center;
    margin: 1%;
    width: 20%;
  }
}
